h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  color: antiquewhite;
}
h2 {
  margin: 0 0 5px;
  font-size: 30px;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  color: rgb(80, 75, 75);
}
a {
  text-decoration-line: none;
}
body {
  background: linear-gradient(135deg, #0000 20.5%, #c8c8c8 0 29.5%, #0000 0) 0
      16px,
    linear-gradient(45deg, #0000 8%, #c8c8c8 0 17%, #0000 0 58%) 32px 0,
    linear-gradient(
      135deg,
      #0000 8%,
      #c8c8c8 0 17%,
      #0000 0 58%,
      #c8c8c8 0 67%,
      #0000 0
    ),
    linear-gradient(
      45deg,
      #0000 8%,
      #c8c8c8 0 17%,
      #0000 0 58%,
      #c8c8c8 0 67%,
      #0000 0 83%,
      #c8c8c8 0 92%,
      #0000 0
    ),
    #aea5a5;
  background-size: 64px 64px;
}
select {
  padding: 12px;
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  color: grey;
  opacity: 10px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background: rgb(142, 124, 124);
  padding: 60px;
  box-shadow: rgba(67, 67, 83, 0.2) 0px 7px 29px 0px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  line-height: 20px;
}
.date {
  opacity: 0.5;
}
.cities {
  display: flex;
  justify-content: space-between;
  margin: 28px 0;
  padding: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
}
.cities:last-child {
  border: none;
}
.time {
  font-size: 49px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}
select {
  padding: 12px;
  display: block;
  width: 100%;
  border-radius: 10px;
  border-color: white;
  padding: 10px;
  color: rgb(255, 255, 255);
  background: rgb(135, 117, 117);
}
